.radios {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 450px) {
	.radios {
		grid-template-columns: 1fr;
	}
}

.label__services {
	font-weight: normal;
	font-size: 14px;
}

.radio__label {
	display: block;
  padding: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: 180ms all ease-in-out;
  background: #f4f7f3;
  border-radius: 15px;
}

.radio__label:hover {
	opacity: .7;
	box-shadow: 0 0 10px #666666;
}

.radio__label {
	cursor: pointer;
}

.fa-briefcase-medical,
.fa-syringe,
.fa-stethoscope
 {
	display: block;
	color: #8e36db;
  margin: auto;
  margin-bottom: 25px;
  font-size: 60px;
}

.fa-stethoscope {
	color: #ff7e30;
	/*font-size: 42px;*/
}

.fa-syringe {
	color: #2ed804;
	/*font-size: 41px;*/
}