.input {
	position: relative;
	margin: 40px 0;
}

.input__label {
	display: block;
	width: 100%;
}

.input__message {
	position: absolute;
	display: none;
	top: 50px;
  left: 0;
	color: red;
	font-size: 14px;
}

.input__message--error {
	display: inline-block;
}

.input__address {
	top: 67px;
}

.input__label-text {
	position: absolute;
	top: 16px;
  left: 15px;
  font-size: 14px;
  color: #666;
  transition: 180ms all ease-in-out;
}

.input__mandatory {
	color: red;
}

.input__field {
	width: 100%;
  padding: 15px;
  font-size: 14px;
  color: #666;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999;
}

.input__field:focus {
	box-shadow: 0 0 10px #666666;
}

.input__field:focus + .input__label-text {
	top:  -19px;
	left: 0;
}

.input__label-text--top {
	top:  -19px;
	left: 0;
}

.input--success {
	border:  2px solid green;
}

.input--error {
	border:  2px solid red;
}
