.input__select {
	cursor: pointer;
}

.fa-angle-down {
	position: absolute;
  right: 15px;
  top: 15px;
}

.input__options {
	display: none;
	position: absolute;
	width: 100%;
  font-size: 14px;
  color: #666;
  outline: none;
	transition: 120ms all ease-in-out;
	background-color: #FFFFFF;
	border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 0 0 5px #666666;
	z-index: 1;
}

.input__options--visible {
	display: block;
}

.input__options__opt {
	padding: 10px 15px;
	cursor: pointer;
	transition: 180ms all ease-in-out;
}

.input__options__opt:hover {
	background-color: #f9f9f9;
}