.address {
	width: 33.00%;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

@media (max-width: 888px) {
	.address {
		width: 32%;
		/*display: block;*/
	}
}

@media (max-width: 450px) {
	.address {
		width: 100%;
		display: block;
	}
}
