form {
	width: 800px;
	margin: auto;
}

@media (max-width: 450px) {
	form {
		width: 100%;
	}
}

fieldset {
	padding: 0 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #999;
}

.input {
	width: 400px;
}

.address__state {
	width: 200px;
}

.address__zip {
	width: 150px;
}

@media (max-width: 450px) {
	.input,
	.address__state,
	.address__zip {
		width: 100%;
	}
}