body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
	max-width: 1200px;
	margin: auto;
}

@media (max-width: 450px) {
	#root {
		width: 90%;
	}
}

.page-title {
	text-align: center;
}

