.btn__submit {
	cursor: pointer;
	padding: 10px 25px;
	transition: 180ms all ease-in-out;
	border-radius: 5px;
	border: 1px solid #ff7760;
	background-color: #ff7760;
}

.btn__submit:hover {
	opacity: .8;
	box-shadow: 0 0 5px #666666;
}

@media (max-width: 450px) {
	.btn__submit {
		width: 100%;
		padding: 15px;
	}	
}